*{
    scroll-behavior: smooth;
}

.testAudio{
    flex-direction: row;
    font-size: 55px;
    height: 100%;
}

audio{
    position: absolute;
}

#musicTest{
    background-color: red;
}

html{
    background-color: #161616;
    width: 100%;

    height: 100%;
}
body { margin: 0; }

.cacheItem{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: flex-end;
}

.nav-tabs{
    background: rgb(51,51,51);
    background: radial-gradient(circle, rgb(37, 26, 26) 1%, rgb(6, 5, 5) 99%);
    padding-top: 8px;
    padding-bottom: 8px;
}
.nav-tabs a{
    color: whitesmoke;
}

.nav-link:hover{
    color:#ffda2a;
}


p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f2f2f2;
    transition: all 0.2s;
}

.container {
    height: 100%;
    width: 100%;
}

.firstSection{
    height: 100%;
    width: 100%;
    background-image: url(Images/Image_1accueil.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -48px;
}

.texteAccueil{
    margin-bottom: 100px;
}

.texteAccueil P{
    font-size: 105px;
    font-family: 'EastBorder';
}


A{
    text-decoration: none;
    transition: all 0.2s;
}


.menuResponsiveNone{
    display: none;
    flex-direction: column;
    width: 100%;
    height: 50%;
    justify-content: space-around;
    align-items: flex-start;
}
.menuResponsive{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    justify-content: space-around;
    align-items: flex-start;
}


.menuResponsive li{
    list-style-type: none;
    font-size: 31px;
    display: flex;
    width: 100%;
    height: 80%;
    color: white;
    background: rgb(28,28,28);
    background: linear-gradient(0deg, rgba(28,28,28,1) 1%, rgba(27,22,22,1) 100%, rgba(11,11,11,1) 100%);
    border-bottom: 1px white solid;
    align-content: center;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
}
.menuResponsive li:hover{
    cursor: pointer;
    height: 100%;
    color: white;
    border-bottom: 1px white solid;
    background: linear-gradient(0deg, rgba(11,11,11,1) 100%, rgba(27,22,22,1) 100%, rgba(28,28,28,1) 1%);
}

.menuResponsive a{
    text-decoration: none;
    color: whitesmoke;
}
.menuResponsive a:hover{
    text-decoration: none;
    color: gold;
}

.mp3Musique{
    display: none;
}

@font-face {
    font-family: "EastBorder";
    src: url(Polices/EastBorder.ttf) format("truetype");
  }

#logoBadRecords{
    width: 80px;
    margin-left: 15px;
}
#logoInstagram{
    width: 38px;
    margin-left: 15px;
}
#logoYoutube{
    width: 62px;
    margin-left: 15px;
}

button a{
    text-decoration: none;
}

.buttonZone :nth-child(2) {
    margin-left: 60px;
	background:linear-gradient(to bottom, #171406 5%, #020200 100%);
	border-radius:50px; 
	font-size:15px;
	font-weight:bold;
	color: #ffda2a;
	text-shadow:0px 1px 0px #171406;
  }

  .buttonZone :nth-child(2):hover {
	background:linear-gradient(to bottom, #020200 100%, #171406 5%);
	color: #ffda2a;
	text-shadow:0px 1px 0px #171406;
  }

  /* style du bouton jaune */
  
Button {
    width: 210px;
    height: 80px;
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffda2a 5%, #dbb91a 100%);
	border-radius:50px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
#buttonEnvoyéOff {
    width: 210px;
    height: 60px;
	box-shadow:inset 0px 1px 0px 0px #fff6af;
    background:linear-gradient(to bottom, #ffda2a 5%, #dbb91a 100%);
	border-radius:50px;
    border:1px solid #ffaa22;
	display:flex;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.buttonEnvoyéOn {
    width: 210px;
    height: 60px;
	box-shadow:inset 0px 1px 0px 0px #fff6af;
    /* background:linear-gradient(to bottom, #ffda2a 5%, #dbb91a 100%); */
	background:linear-gradient(to bottom, #2aff55 5%, #3adb1a 100%);
	border-radius:50px;
    /* border:1px solid #ffaa22; */
	border:1px solid #22ff98;
	display:flex;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
Button:hover {
	background:linear-gradient(to bottom, #dbb91a 5%, #ffda2a 100%);
}
Button:active {
	position:relative;
	top:1px;
}


/* Section liste des musiques */
#IDElementHtmlTest{
    background: linear-gradient(77deg, rgba(22,22,22,1) 1%, rgba(28,27,27,1) 47%, rgb(23, 21, 21) 73%, rgba(22,19,19,1) 97%);
}

.ligneMusique{
    background: linear-gradient(77deg, rgba(22,22,22,1) 1%, rgba(28,27,27,1) 47%, rgb(23, 21, 21) 73%, rgba(22,19,19,1) 97%);
    display: flex;
    flex-direction: row;
    border-top: #333333 0.01em solid;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ligneMusique button{
    border-radius: 20px;
    width: 70px;
    height: 70px;
}


.playButton1{
    width: 60px;
    height: 60px;
}
.playButton1:hover{
   cursor: pointer;
   width: 55px;
    height: 55px;
}


#titreMusique{
    padding-top: 5px;
    font-size: 31px;
}

#titreMusique>em{
    font-size: 18px;
    color: #aaa9a9;
}


.genre{
    font-size: 18px;
    color: #aaa9a9;
    vertical-align: top;
}

.time{
    font-size: 18px;
    color: #aaa9a9;
}

.iconeplay>img{
    width: 50px;
    height: 50px;
}

#listeMusique{
    display: none;
}

.css-button {
	color: #f8ecec;
	font-size: 28px;
	border-radius: 63px;
	border: solid 0px #3866a3;
	box-shadow: inset 1px 1px 0px 0px #4c441c;
	text-decoration: none;
	cursor: pointer;
	position: relative;
	font-family: 'ABeeZee', sans-serif;
	background: linear-gradient(to bottom, #dbb91a 5%, #ffda2a 100%);
	display: inline-flex;
	align-items: center;
	padding: 0;
}
.css-button:hover {
	background: linear-gradient(180deg, #e2c42b 100%, #dbb91a 5%);
}

.css-button-icon {
    color: #f2f2f2;
	box-shadow: inset rgb(0 0 0 / 14%) -1px 0 0;
	padding: 12px 10px;
}


.iconeLike>img{
    display: inside;
    flex-direction: column;
    width: 20px;
    height: 20px;
}
.iconeFavoris>img{
    display:flex;
    flex-direction: column;
    width: 20px;
    height: 20px;
}

.actionMusique{
    display: flex;
    flex-direction: row;
    width: 14%;
    height: 65%;
    justify-content: space-evenly;
    align-items: center;
}

.titreMusique{
    font-size: large;
}
.boutonDeRetrait{
    border-radius: 0%;
    opacity: 0.7;
    width: 100%;
    height: 30px;
    margin-top: 1px;
    margin-bottom: 8px;
    background:linear-gradient(to bottom, #dbb91a 5%, #ffda2a 100%);
}


.ulFooter{
    width: 100%;
    height: 10%;
    background: radial-gradient(circle, rgb(37, 26, 26) 1%, rgb(6, 5, 5) 99%);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.ulFooter>p{
    cursor: pointer;
    opacity : 60%
}
.ulFooter>p:hover{
    opacity : 100%
}

a>img{
    opacity : 60%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

a>img:hover{
    opacity : 100%
}


.formulaireInput {
    display: flex;
    flex-direction: column;
    background: rgb(63,63,63);
    background: linear-gradient(0deg, rgba(63,63,63,1) 1%, rgba(43,43,43,1) 100%);;
    width: 100%;
    height: 120%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  
  .formulaireInput p {
    font-size: 2.5rem;
    color: white;
    font-family: 'Nerko One', cursive;
  }
  .formulaireInput div {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
  }
  
  input {
    width: 30rem;
    height: 3rem;
    border-radius: 8px;
  }
  #description {
    width: 30rem;
    height: 15rem;
    border-radius: 8px;
  }
  
  .formulaireInput img {
    width: 3rem;
    height: 3rem;
    margin: 8px;
  }
  
  .ChoixDonut {
    border: red solid 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 5rem;
    margin-bottom: 25px;
  }
  
  .ChoixDonut p {
    font-size: 20px;
    color: whitesmoke;
  }
  .ChoixDonut input {
    width: 10rem;
    height: 3rem;
  }
  .ChoixDonut div {
    flex: 1 1 2rem;
    display: flex;
    flex-direction: column;
  }

  #contactMoi{
    display: none;
  }