/* Responsive pour navigateur PC */
@media screen and (max-width: 600px) {

    .menuResponsiveNone{
        display: none;
        flex-direction: column;
        width: 100%;
        height: 50%;
        justify-content: space-around;
        align-items: flex-start;
    }
    .menuResponsive{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90%;
        justify-content: space-around;
        align-items: flex-start;
    }

    .cacheItem{
        display: none;
    }

    .logo{
        width: auto;
        height: auto;
    }

    .nav-tabs{
        background: rgb(51,51,51);
        background: radial-gradient(circle, rgb(37, 26, 26) 1%, rgb(6, 5, 5) 99%);
        padding-top: 8px;
        padding-bottom: 8px;
        width: 100%;
        display: flex;
        height: 85px;
        justify-content: center;
        align-items: center;
    }


    #logoBadRecords{
        width: 85px;
        cursor: pointer;
    }

    .buttonZone{
        width: 20px;
        height: 220px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .buttonZone :nth-child(2) {
        background:linear-gradient(to bottom, #171406 5%, #020200 100%);
        margin-left: 0px;
        border-radius:50px; 
        font-size:15px;
        font-weight:bold;
        color: #ffda2a;
        text-shadow:0px 1px 0px #171406;
      }

    .texteAccueil{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }

    .firstSection{
        height: 100%;
        width: 100%;
        background-image: url(Images/Image_1accueil.png);
        background-position: 2765px;
        background-repeat:repeat;
    }

    

}


@media screen and (max-width: 898px) {
.ligneMusique{
    display: flex;
    flex-direction: column;
    border-top: #514f4f 0.01em solid;
}
}